<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<body>
  <th:block th:fragment="headerImport">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon"
          href="/img/xFevicon.png.pagespeed.ic.Q0rPwcFVxW.jpg"
          type="image/png">
    <link rel="stylesheet"
          href=""/>
    <link rel="stylesheet"
          href="/css/A.style.css.pagespeed.cf.szOobx7MsN.css">
    <link rel="stylesheet"
          href="/vendors/bootstrap,_bootstrap.min.css+fontawesome,_css,_all.min.css+themify-icons,_themify-icons.css+linericon,_style.css+owl-carousel,_owl.theme.default.min.css+owl-carousel,_owl.carousel.min.css.pagespeed.cc.DRkmI7mKXC.css">

  </th:block>
  <th:block th:fragment="footerImport">
    <script src="/vendors/jquery/jquery-3.2.1.min.js"></script>
    <script src="/vendors/bootstrap,_bootstrap.bundle.min.js+skrollr.min.js.pagespeed.jc.HXS4VrDNrm.js"></script>
    <script>eval(mod_pagespeed_LECeJPGdhv);</script>
    <script>eval(mod_pagespeed_qd2H_XgaU0);</script>
    <script src="vendors,_owl-carousel,_owl.carousel.min.js+vendors,_nice-select,_jquery.nice-select.min.js+vendors,_jquery.ajaxchimp.min.js+vendors,_mail-script.js+js,_main.js.pagespeed.jc.EPblPCSFXD.js"></script>
    <script>eval(mod_pagespeed_h8pmwIh97G);</script>
    <script>eval(mod_pagespeed_dAam086T$O);</script>
    <script>eval(mod_pagespeed_vbd4uots6k);</script>
    <script>eval(mod_pagespeed_ZmOV$tyC8D);</script>
    <script>eval(mod_pagespeed_7X6LgW4O1V);</script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
        dataLayer.push(arguments);
      }

      gtag('js', new Date());

      gtag('config', 'UA-23581568-13');
    </script>
    <script defer src="https://static.cloudflareinsights.com/beacon.min.js/v652eace1692a40cfa3763df669d7439c1639079717194"
            integrity="sha512-Gi7xpJR8tSkrpF7aordPZQlW2DLtzUlZcumS8dMQjwDHEnw9I7ZLyiOj/6tZStRBGtGgN6ceN6cMH8z7etPGlw=="
            data-cf-beacon='{"rayId":"74fce0822ff29134","token":"cd0b4b3a733644fc843ef0b185f98241","version":"2022.8.1","si":100}'
            crossorigin="anonymous"></script>
  </th:block>

</body>
</html>